
body {
 
  background-color: #222;
  
 
  color: #ddd;

 
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

#generateBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  white-space: nowrap;
  text-align: center;
  font-size: 2rem;
 

 
  background-color: #222;
  padding: 2rem;


 

 
  cursor: pointer;

  border: none; 
  border-radius: 1em;
  color: #efbe53;

}





#solutionBtn {
  margin: auto;
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  height: 4rem;
  width: 10rem;
  background-color: #222;
  border: none;
  padding: 10px 20px;
  border: 2px solid #efbe53; 
  color: #efbe53;
  border-radius: 20px;
 
  display: flex;
  justify-content: center;
  align-items: center;
  
}



button.clickable:hover {
 
  background-color: #555 !important;
  cursor: pointer;
}
.sport {
  display: none;
}





#sports {
  position: absolute;
  top: 48%;
  display: none;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
  padding: 0;
  width: 200px;
  justify-content: space-between;
  height: calc(50% - 1rem);
}


.sport {
  font-size: 1em;
  background-color: #222;
  margin: 0rem; 
  padding: 0.25rem; 
  text-align: center;
  border: 0.1rem solid #efbe53; 
  color: #efbe53;
  border-radius: 2rem;
  width: 100%;
  align-items: center;
  justify-content: center;


}

@media (max-width: 600px) {
 
  #sports {
      flex-direction: row; 
      width: 100%;
      position: absolute;
      top: 50%;
      height: calc(50% - 1rem - 2rem);
      align-items: stretch;
      flex-wrap: wrap;
  }
  
  .sport {
      height: 20%;
      width: calc(50% - 0.4rem);
      border-radius: 0;
      padding: 0; 
      margin: 0.2rem;
      border: 0.1rem solid #efbe53;
      border-radius: 1rem;
      font-size: 1rem;
      box-sizing: border-box;
  }
}

li.clickable:hover {
  cursor: pointer;
  background-color: #444;
}


   



li.active {
 
  background-color: #8b6514;
  color:black;
  
}









#scoreBanner {
  margin: 0;
  padding: 0;
  top: 32.5%;
  position: absolute;

 
  display: none;

 
  color: #efbe53;

 
  text-align: center;
  align-items: center;
  justify-content: center;
 
  font-size: 2rem;
  flex-direction: column;

}


.smallest-score {
  margin-top: 1rem;
  font-size: 1rem;
}






#flag {
  position: absolute;
  display: none;
 
  width: 40%;
  object-fit: contain;
 
  height: 30%;


  top: 15%;

}

@media (max-width: 600px) {
  #flag {
      position: absolute;
      display: none;
     
      width: 80%;
  
     
      height: 30%;
  
  
      top: 15%;
  
  }
}

.settings-container {
  display: flex; 
  align-items: center;
  margin-right: 1.25rem;
}

#viewstats{
  margin-right: 10px;
}
#viewstats:hover{
  cursor: pointer;
}

#settingsBtn {
  display: inline-block;
  text-decoration: none;
  color: #efbe53;
}

.setmodal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.set-modal-content {
  position: relative;
  background-color: #222;
  top: 25%;
  margin: auto;
  padding: 0rem;
  box-sizing: border-box;
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 1rem;
}

.set-modal-content h2 {
  position: relative;
  top: -0.5rem;
  text-align: center;
  width: 90%;
}

.settings-list {
  align-items: center;
  box-sizing: border-box;
  width: 90%;
  margin: 0; 
  padding: 0;
}

.settings-row {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid #999;
}

.switch {
  
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}



.slider {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7f7c7c;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 3rem;
}

.slider:before {
  position: absolute;
  display: inline-block;
  content: "";
  height: 1rem;
  width: 1rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #1a7d1d;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1a7d1d;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.5rem);
  -ms-transform: translateX(1.5rem);
  transform: translateX(1.5rem);
}


.country-name {

  position: absolute;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #875d03;
  display: none;
  width: 100%;
 
 
  top: 47.5%;
  left: 50%;
  
 
  transform: translate(-50%, -50%);
}





.dropdown .dropbtn {
  display: flex; 
  align-items: center;
  margin-left: 5%;
  
  cursor: pointer;
  color: #efbe53;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #444;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  color: #efbe53 !important;
}
.dropdown-content a:hover { 
  background-color: #555;
}


.dropdown-content.show {
  display: block;
}
.navbar {
  display: flex;
  position: relative;

  justify-content: space-between;
  align-items: center;
  background-color: #222;
  width: 100%;
  border-bottom: 2px solid #efbe53;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  background-color: #222;
  margin: 5px 0;

 
  padding: 10px;
}

.navbar ul li a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

.logo-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  height: 50%;
}

.logo {
  height: 100%;
}



.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}


.modal-content {
  position: relative;
  top: 10%;
  background-color: #333;
  margin: auto;
  border: 0px;
  height: 80%;
  width: 80%;
  border-radius: 20px;
  overflow: hidden;

  
}
.modal-content-wrapper {
  left: 0.5%;
  position: relative;
  height: 99%;
  width: 99%; 
  overflow: auto;
}

.modal-content-wrapper::-webkit-scrollbar {
  width: 8px;
}

.modal-content-wrapper::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.modal-content-wrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.modal-content-wrapper {
  scrollbar-width: thin;
  scrollbar-color: #888 #333;
}



.close {
  color: #aaaaaa;
  float: right;
  font-size: 2rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close-button {
  position: absolute;
  right: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}
.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#Hist_Modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#hist-modal-content {
  position: relative;
  background-color: #222;
  top: 30%;
  margin: auto;
  padding: 0rem;
  box-sizing: border-box;
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 1rem;
}

#hist-modal-content h2 {
  font-weight: bold;
  color: #efbe53;
  position: relative;
  top: -1rem;
  text-align: center;
  width: 80%;
}

#Stats {
  top: -35px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;

}

#Stats h3{
  color: #efbe53;
  position: relative;
  text-align: center;
  width: 100%;
  font-size: 15px;
}

#Stats h3 .stats-text{
  font-size: 40px;

  margin-top: 20px;

}

#histogram {
  flex-grow: 1;
  position: relative;
  bottom: 10px;
  margin-left:-15%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 70%;
}

#histogram .bar {
  left: 20%;
  position: relative;
  display: flex;
  align-items: center;
  height: 10%;
  background-color: #efbe53;
  transition: width 1s ease;
}



.range-text, .count-text {
  font-weight: bold;
  position: absolute;
  width: auto;
  text-align: center;
  font-size: 14px;
}

.range-text {
  color: #efbe53;
  left: -70px; 
}

.count-text {
  color:#222;
  left: calc(50% - 4px); 
}


.close-button-hist {
  position: absolute;
  right: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #efbe53;
}
.close-button-hist:hover,
.close-button-hist:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#ShareBtn:hover{
  cursor: pointer;
}
#ShareBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-top: -40px;
  position: relative;
  height: 40px;
  width: 140px;
  border-radius: 20px;
  background-color: #efbe53;
  border: 0px;
  color: black;
  font-weight: 700;
  font-size: 18px;
}
#ShareBtn svg{
  margin-left:10px;
}

#InstructionsModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#InstructionsWrapper {
  position: relative;
  background-color: #222;
  top: 15%;
  margin: auto; 
  box-sizing: border-box;
  width: 80%; 
  height: 70%; 
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 1rem;
  overflow: hidden;
}

#Instructions {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: auto; 
  padding: 10px; 
  box-sizing: border-box; 
}



#Instructions h1{
  font-size: 20px;
  color: #efbe53;
  
}
#Instructions p{
  font-weight: bold;
  font-size: 13px;
  color: #efbe53;
}


#sport-box{
  font-size: 1em;
  background-color: #222;
  margin: 0rem; 
  padding: 0.25rem; 
  text-align: center;
  border: 0.1rem solid #efbe53; 
  color: #efbe53;
  border-radius: 2rem;
  width: 50%;
  align-items: center;
  justify-content: center;

}
#France_Flag {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}


#Instructions::-webkit-scrollbar {
  width: 5px; 
}

#Instructions::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 4px; 
}

#Instructions::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}


#Instructions {
  scrollbar-width: thin; 
  scrollbar-color: #888 #222; 
}

.close-instructions {
  top: 0%;
  position: absolute;
  right: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #efbe53;
}

.close-instructions:hover,
.close-instructions:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}