/* Styles for the whole body of the document */
body {
  /* Set the background color to a dark gray (#222) */
  background-color: #222;
  
  /* Set the text color to a lighter gray (#ddd) */
  color: #ddd;

  /* Set the default font for the entire document to Arial, with any sans-serif font as a fallback */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* Styles for all button elements */
#generateBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  font-size: 2rem;
  /* Set the text color to a lighter gray (#ddd) */

  /* Set the background color to a dark gray (#444) */
  background-color: #222;
  padding: 2rem;


  /* Add padding to the button to increase its clickable area and improve its appearance */

  /* Change the cursor to a pointer when hovering over the button, to indicate that it's clickable */
  cursor: pointer;

  border: none; 
  border-radius: 1em;
  color: #efbe53;

}





#solutionBtn {
  margin: auto;
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  height: 4rem;
  width: 10rem;
  background-color: #222;
  border: none;
  padding: 10px 20px;
  border: 2px solid #efbe53; 
  color: #efbe53;
  border-radius: 20px;
  /* Added properties */
  display: flex;
  justify-content: center;
  align-items: center;
  
}



button.clickable:hover {
  /* Change the background color to a slightly lighter gray (#555) */
  background-color: #555 !important;
  cursor: pointer;
}
.sport {
  display: none;
}




/* Styles for unordered list elements */
#sports {
  position: absolute;
  top: 48%;
  display: none;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
  padding: 0;
  width: 200px;
  justify-content: space-between; /* space out items equally */
  height: calc(50% - 1rem);
}

/* Styles for list item elements */
.sport {
  font-size: 1em;
  background-color: #222;
  margin: 0rem; 
  padding: 0.25rem; 
  text-align: center;
  border: 0.1rem solid #efbe53; 
  color: #efbe53;
  border-radius: 2rem;
  width: 100%;
  align-items: center; /* vertically center the content */
  justify-content: center; /* horizontally center the content */


}

@media (max-width: 600px) {
  /* Styles for smaller screens */
  #sports {
      flex-direction: row;  /* change direction for smaller screens */
      width: 100%;
      position: absolute;
      top: 50%;
      height: calc(50% - 1rem - 2rem);
      align-items: stretch;
      flex-wrap: wrap;
  }
  
  .sport {
      height: 20%;
      width: calc(50% - 0.4rem); /* calc used to divide the container space evenly, accounting for margin */
      border-radius: 0;
      padding: 0; 
      margin: 0.2rem;
      border: 0.1rem solid #efbe53;
      border-radius: 1rem;
      font-size: 1rem;
      box-sizing: border-box;
  }
}

li.clickable:hover {
  cursor: pointer;
  background-color: #444;
}

/* Styles for list item elements when they have the class 'active' */
/* The .active class applies to the currently selected sport. */   
/* ".active" is another class selector, it selects HTML elements with class="active". 
So when a sport item has the "active" class, it will be green. */


li.active {
  /* Change the background color to green (#28a745) */
  background-color: #8b6514;
  color:black;
  
}





/* Styles for the element with the id 'generateButton' */


/* Styles for the element with the id 'scoreBanner' */
#scoreBanner {
  margin: 0;
  padding: 0;
  top: 32.5%;
  position: absolute;

  /* Hide the score banner by default */
  display: none;

  /* Set the text color to green (#28a745) */
  color: #efbe53;

  /* Center the text within the score banner */
  text-align: center;
  align-items: center;
  justify-content: center;
  /* Set the font size of the score banner to 24 pixels */
  font-size: 2rem;
  flex-direction: column;

}


.smallest-score {
  margin-top: 1rem;
  font-size: 1rem;
}




/* CSS rule for the HTML element with id 'flag' */
#flag {
  position: absolute;
  display: none;
  /* Setting a fixed width for the element, so the size of the element does not depend on its content */
  width: 40%;
  object-fit: contain;
  /* Setting a fixed height for the element, so the size of the element does not depend on its content */
  height: 30%;


  top: 15%;

}

@media (max-width: 600px) {
  #flag {
      position: absolute;
      display: none;
      /* Setting a fixed width for the element, so the size of the element does not depend on its content */
      width: 80%;
  
      /* Setting a fixed height for the element, so the size of the element does not depend on its content */
      height: 30%;
  
  
      top: 15%;
  
  }
}

.settings-container {
  display: flex; 
  align-items: center;
  margin-right: 1.25rem;
}

#settingsBtn {
  display: inline-block;
  text-decoration: none;
  color: #efbe53;
}

.setmodal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.set-modal-content {
  position: relative;
  background-color: #222;
  top: 25%;
  margin: auto; /* Centers the modal */
  padding: 0rem;
  box-sizing: border-box;
  width: 80%; /* Take 80% of the width of the screen */
  height: 50%; /* Take 50% of the height of the screen */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 1rem;
}

.set-modal-content h2 {
  position: relative;
  top: -0.5rem;
  text-align: center;
  width: 90%;
}

.settings-list {
  align-items: center;
  box-sizing: border-box;
  width: 90%;
  margin: 0;  /* Add this line */
  padding: 0; /* Add this line */
}

.settings-row {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid #999; /* Add bottom border to each settings row */
}

.switch {
  
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}



.slider {
  position: absolute; /* Change to relative */
  display: inline-block;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7f7c7c;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 3rem;
}

.slider:before {
  position: absolute; /* Change to relative */
  display: inline-block;
  content: "";
  height: 1rem;
  width: 1rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #1a7d1d;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1a7d1d;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.5rem);
  -ms-transform: translateX(1.5rem);
  transform: translateX(1.5rem);
}

/* CSS for the country name display */
.country-name {

  position: absolute;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #875d03;
  display: none;
  width: 100%;
  /* Center the text by positioning it halfway down the parent element and halfway across. */
  /* Adjust the '50%' in 'top' property to a lower value to move the text upward */
  top: 47.5%; /* or whatever value that suits your needs */
  left: 50%;
  
  /* Use transform to ensure the center of the text is at the midpoint, not the top-left corner. */
  transform: translate(-50%, -50%);
}

/* Style the dropdown button to fit into navbar */


/* Style the dropdown button to change color on hover*/
.dropdown .dropbtn {
  display: flex; 
  align-items: center;
  margin-left: 5%;
  
  cursor: pointer;
  color: #efbe53;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #444;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  color: #efbe53 !important;
}
.dropdown-content a:hover { 
  background-color: #555;
}


.dropdown-content.show {
  display: block;
}
.navbar {
  display: flex;
  position: relative;

  justify-content: space-between; /* changed this to flex-start */
  align-items: center;
  background-color: #222;
  width: 100%;
  border-bottom: 2px solid #efbe53;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  background-color: #222;
  margin: 5px 0;

  /* Add padding to the list item to increase its clickable area and improve its appearance */
  padding: 10px;
}

.navbar ul li a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

.logo-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  height: 50%;
}

.logo {
  height: 100%;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  top: 10%;
  background-color: #444;
  margin: auto;
  border: 1px solid #ddd;
  height: 80%;
  width: 80%;
  overflow: auto; /* Enable scroll if needed */
  
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 2rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close-button {
  position: absolute;
  right: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}
